



#area-logo, #area-menu{
	padding; 10px;
}

#area-pincipal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens, #area-laeral{
	background: orange;
}

#area-postagens{
	width: 660px;
	float: left;
}

#area-lateral{
	width: 240px;
	float: right;
}
